// Place all the styles related to the api/projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Color palette
$watermelon: #FF383F;
$neutral: #EFEFEF;
$sky: #CAEBF2;
$carbon: #A9A9A9;

//palette2
$navy: #18121E;
$gunmetal: #233237;
$rustyred: #984843;
$warmyellow: #EAC67A;

//palette3
$leaf: #66AB8C;
$salmon: #FA7C92;
$rain: #6EC4DB;
$buttermilk: #FFF7C0;

//palette4
$steel: #2F2F2F;
$activeblue: #2880A2;
$jungle: #1FD426;
$offblue: #DEE5F5;


.dropdown {
  font-size: 16px;
  color: white;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  position: relative;
  padding: 10px;
}

.dropdown-content:hover {
  display: inline-block;
}

.dropdown-content {
  color: black;
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: $neutral;
  width: auto;
  left: -1px;
  padding-left: 0;
  min-width: 160px;
  margin: 5px 0;
  z-index: 1
}

.dropdown:hover{
  color: black;
  background-color: $neutral;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  padding: 5px;
  width: 100%;
  min-width: 160px;
  white-space: nowrap;
  box-sizing: border-box;
  display: inline-block;
}

.dropdown-item:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffe6ff;
}

.new-project {
  border-top: 1px solid black
}

.new-project:hover {
  box-shadow: 0px -8px 16px 0px rgba(0,0,0,0.2);
}

.background {
  height: auto;
  min-height: 100vh;
  background-color: $sky;
}

.project-innerheader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: white;
  box-sizing: border-box;
}

.project-innerheader > div > button {
  width: auto;
  margin: 20px 40px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

.material-icons.edit-project-icon {
  font-size: 24px;
  float: right;
  padding: 10px;
  cursor: pointer;
  margin: 10px 10px 0 0;
}

//CSS related to project landing page

.pagediv {
  display: flex;
  width: 100%;
}

.project-info-div {
  width: 60%;
}

.project-header {
  color: darkblue;
  margin: 0 0 10px 0;
  width: auto;
  font-size: 44px;
  padding: 0 10px;
}

.project-description {
  color: darkblue;
  font-size: 32px;
  margin: 10px;
  width: auto;
}

.members-div {
  margin: 10px 0;
  border-top: 1px solid $carbon;
}

.member-list {
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

.project-inner-div {
  padding: 10px;
  margin: 10px;
  min-width: 600px;
  border-radius: 10px;
  background: ghostwhite;
}

.new-todolist-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.todolist-ul {
  list-style: none;
  width: 80%;
  padding: 0;
  margin: auto;
}

.todo-preview {
  float: left;
  margin: 10px 20px;
  padding: 15px 10px;
  border-radius: 15px;
  text-align: center;
  border: 1px solid;
  width: 200px;
  height: 80px;
}

.project-todo-div {
  margin: 10px;
  padding: 10px;
  background: ghostwhite;
  text-align: center;
  width: 40%;
  border-radius: 10px;
}

.del-icon:hover {
  color: $salmon;
}

.edit-icon:hover {
  color: yellow;
}

.edit-project-button {
  float: left;
  background-color: $jungle;
}

.edit-project-button:hover {
  color: palegreen;
}

.delete-project-button {
  float: right;
  background-color: $salmon;
}

.delete-project-button:hover {
  color: $watermelon
}

.project-title {
  margin: 10px auto;
  width: auto;
  font-size: 44px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.member-header {
  margin: 10px 0;
  color: darkblue;
}

.project-member-list {
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
  padding-left: 40px;
  padding-bottom: 10px;
}

//edit project part

.edit-project-header{
  margin: 10px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

#editProjectForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 0 0 20px 0;
}

.edit-project-title {
  margin: 5px;
  padding: 7px;
  width: 500px;
  font-size: 44px;
  text-align: center;
  border-radius: 10px;
  background: white;
  border-style: groove;
  border: 1px solid $neutral;
  color: darkblue;
  font-family: 'Raleway', sans-serif;
}

.edit-project-description {
  margin: 10px 0 5px 0;
  border-radius: 10px;
  border-style: groove;
  border: 1px solid $neutral;
  width: 600px;
  padding: 7px;
  font-size: 32px;
  background: white;
  color: darkblue;
  text-align: center;
  font-family: 'Raleway', sans-serif;

}

.member-list-item {
  border-radius: 10px;
  background-color: rgba(72, 202, 243, 0.96);
  margin: 5px;
  float: left;
  padding: 10px;
}

.member-list-item-edit {
  border-radius: 10px;
  background-color: $jungle;
  margin: 5px;
  float: left;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;

}

.current-members{
  padding: 10px;
}

.member-list-item-edit > button {
  cursor: pointer;
}

.member-list-item-edit:hover {
  background-color: $watermelon;
  color: white;
}

.member-list-name {
  float: left
}

.member-list-remove {
  float: right;
  width: auto;
  margin: 0 5px 0 10px;
}

//buttons at the bottom of the page

.edit-project-options {
  display: flex;
  border-top: 1px solid $carbon;
  padding: 20px 0 0 0;
  flex-direction: row;
  font-family: 'Raleway', sans-serif;
  justify-content: space-around;
  margin: 10px;
}

.edit-project-options > button {
  width: 150px;
  font-size: 15px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 0 0 10px 0;
  cursor: pointer;
}

.edit-project-options > button:hover {
  color: white;
}

.save-project-button {
  background-color: $jungle;
}

.nosave-project-button {
  background-color: $salmon;
}

.done-project-button {
  background-color: rgba(72, 202, 243, 0.96);
}

.add-members {
  min-height: 200px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid $carbon;
}

.search-members{
  float: left;
  width: auto;
  white-space: nowrap;
}

.search {
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 5px;
  background: white;
  border: 1px solid $neutral;
  width: auto;
  border-radius: 10px;
  text-align: center;
}

.add-members-header{
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid $carbon;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.results {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

$fadeTime: 0.5s;

.found-member{
  margin: 5px;
  float: left;
  width: auto;
  display: flex;
  width: auto;
  background-color: $jungle;
  padding: 10px;
  border-radius: 10px;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  -webkit-animation: member-enter $fadeTime ease-in-out 1;
  animation: member-enter $fadeTime ease-in-out 1;
}

.found-member:hover {
  color: white;
}

.no-members {
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

//animation for found members

@-webkit-keyframes member-enter {
  from {opacity: 0;}
  to {opacity: 1}
}

@keyframes member-enter {
  from {opacity: 0;}
  to {opacity: 1;}
}



//new project

.new-project-buttons > button {
  width: auto;
  font-family: 'Raleway', sans-serif;
  white-space: nowrap;
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.new-project-buttons > button:hover {
  color: white;
}

.new-project-buttons {
  margin: 10px;
}

.create-project-button {
  background-color: $jungle;
  font-size: 18px;
}

.cancel-project-button {
  background-color: $salmon;
  font-size: 18px;
  // border: 1px solid $salmon
}

.new-member-clause {
  font-family: 'Raleway', sans-serif;
  margin-top: 3px;
}

//todo-list section of project landing page

.btn-new-todolist {
  display: flex;
  width: 40px;
  height: 40px;
  line-height: 50px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: #f5f5f5;
  background: $jungle;
  text-decoration: none;
  box-shadow: 0 0 3px gray;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-new-todolist:hover {
  background-color: green;
}

.txt-new-todolist {
  margin: 10px;
font-size: 44px;
font-family: 'Raleway', sans-serif;
color: $jungle;
}

.todo-container-header {
  font-family: 'Raleway', sans-serif;
text-align: center;
font-size: 32px;
color: green;
}

.todo-container-box {
  border: 1px solid lightgray;
  width: 85%;
  min-width: 800px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 15px;
  background-color: $steel;
}

//todo-list page

.edit-todolist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  width: 85%;
}

.edit-todolist-btn {
  width: auto;
  margin: 10px 70px;
  float: left;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  background-color: $jungle;

}

.edit-todolist-btn:hover {
  color: white;
}

.del-todolist-btn {
  width: auto;
  margin: 10px 70px;
  font-size: 18px;
  float: right;
  padding: 10px;
  border-radius: 10px;
  background-color: $salmon;

}

.del-todolist-btn:hover{
  color: white;
}

.todolist-title {
  width: auto;
  text-align: center;
  font-size: 44px;
  font-family: 'Raleway', sans-serif;
}

.todolist-description {
  width: auto;
  text-align: center;
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
}

.todolist-completion {
  width: auto;
  text-align: center;
  margin: 10px 0 0 0;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

.new-todoitem-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.editing-todolist-header {
    padding-top: 10px;
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;

}

#completed
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin: 10px;
}

.edit-todolist-completed {
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 24px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

.new-todo-container {
  margin: 10px;
}

#new-todo-form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// #new-todo-form > input {
//   width: 250px;
//     font-size: 28px;
//     border-radius: 10px;
//     text-align: center;
//     margin: 10px;
// }

// #new-todo-form >input[type="text"] {
//   background: white;
//   width: 300px;
//   padding: 5px;
// }

// #new-todo-form >input[type="date"]{
//   background: white;
//   width: 300px;
//   padding: 5px;
// }

.new-todoitem-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.new-todoitem-btns > button {
  width: auto;
  margin: 10px 70px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
}

.project-back-btn {
  width: auto;
  margin: 10px 0 0 70px;
  padding: 10px;
  font-size: 18px;
  background-color: orange;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  border: 1px solid yellow;
}

.project-back-btn:hover {
  color: white;
}

.todo-done-btn {
  width: auto;
  margin: 10px 0 0 70px;
  padding: 10px;
  background-color: $jungle;
  font-size: 18px;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  border: 1px solid $leaf;
}

.no-todoitems-header {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 10px;
}

.todo-done-btn:hover {
  color: white;
}

//modal css - fade in

.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 100ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 100ms ease-in-out;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in-out;
}
