// Place all the styles related to the api/project_memberships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Color palette
$watermelon: #FF383F;
$neutral: #EFEFEF;
$sky: #CAEBF2;
$carbon: #A9A9A9;

//palette2
$navy: #18121E;
$gunmetal: #233237;
$rustyred: #984843;
$warmyellow: #EAC67A;

//palette3
$leaf: #66AB8C;
$salmon: #FA7C92;
$rain: #6EC4DB;
$buttermilk: #FFF7C0;

//palette4
$steel: #2F2F2F;
$activeblue: #2880A2;
$jungle: #1FD426;
