// Place all the styles related to the api/project_memberships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Color palette
$watermelon: #FF383F;
$neutral: #EFEFEF;
$sky: #CAEBF2;
$carbon: #A9A9A9;

//palette2
$navy: #18121E;
$gunmetal: #233237;
$rustyred: #984843;
$warmyellow: #EAC67A;

//palette3
$leaf: #66AB8C;
$salmon: #FA7C92;
$rain: #6EC4DB;
$buttermilk: #FFF7C0;

//palette4
$steel: #2F2F2F;
$activeblue: #2880A2;
$jungle: #1FD426;

//CSS related to project landing page

.pagediv {
  display: flex;
  width: 100%;
}

.project-info-div {
  width: 100%;
}

.project-header {
  text-align: center;
  margin: 10px 0;
  width: auto;
  padding: 10px;
}

.project-description {
  text-align: center;
  margin: 10px;
  width: auto;
}

.member-list {
  list-style: none;
  margin: 5px 0;
}

.project-inner-div {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: $neutral;
}

.new-todolist-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.todolist-ul {
  list-style: none;
  width: 80%;
  padding: 0;
  margin: auto;
}

.todo-preview {
  float: left;
  margin: 10px 20px;
  padding: 15px 10px;
  border-radius: 15px;
  text-align: center;
  background-color: white;
  cursor: pointer;
  width: 200px;
  height: 80px;
}

.project-todo-div {
  margin: 10px;
  padding: 10px;
  background: $neutral;
  border-radius: 10px;
}
