// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Color palette
$watermelon: #FF383F;
$neutral: #EFEFEF;
$sky: #CAEBF2;
$carbon: #A9A9A9;

//palette2
$navy: #18121E;
$gunmetal: #233237;
$rustyred: #984843;
$warmyellow: #EAC67A;

//palette3
$leaf: #66AB8C;
$salmon: #FA7C92;
$rain: #6EC4DB;
$buttermilk: #FFF7C0;

.errorlist {
  padding: 0;
}

.navbar {
  display: block;
  background-color: #1A25B7;
  height: 40px;
  z-index: 1;
}

.navbar-auth {
  float: right;
  width: 300ps;
}

.group:after {
  display: block;
  content: "";
  clear: both;;
}

.greeting {
  color: white;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  text-align: center;
  padding: 5px 5px;
  cursor: pointer;
  margin: 5px;
}

.navbar-auth button {
  float: right;
  padding: 5px 5px;
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  border-radius: 10px;
  box-sizing: border-box;;
  color: white;
  width: 70px;
  text-align: center;
}

.navbar-auth button:hover {
  background-color: $neutral;
  color: black;
}

.authmodal {
  height: auto;
  margin: auto;
  text-align: center;
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

.logo {
  float: left;
  height: 40px;
  width: 105px;
  margin: 1px 0 1px 10px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  background-image: url("http://res.cloudinary.com/dkskiosh7/image/upload/v1462578941/collaBase-logo_3_zvq8d3.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.authmodal-form {
  height: 100px;
  margin: auto;
}

.signup-form {
  height: 250px;
  width: 300px;
  margin: 0 auto;
}

.signup-form > input{
  border: 1px solid grey;
  border-radius: 10px;
  margin: 5px auto;
  padding: 3px;
  font-size: 29px;
  text-align: center;
  display: block;
}

.signup-form:last-child{
  color: red;
  border: none;
  padding: 10px;
}

.signup-form:last-child:hover {
  box-shadow: 0 0 10px;
}

.signinerror {
  list-style: none;
  font-size: 16px;
  color: red;
}

.authmodal-form > input{
  border: 1px solid grey;
  border-radius: 10px;
  margin: 5px;
  font-size: 32px;
  text-align: center;
  display: block;
}

.authmodal-form > div {
  margin-top: 5px;
}

input + input {
  margin-bottom: 5px;
}

.signin {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.signin > label {
  padding: 10px;
  margin: 0 10px;
}

.signin > label:hover {
  box-shadow: 0 0 10px;
}

.signin-button {
  background-color: $leaf;
  border: none;
  font-size: 29px;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;

}

.signin-button:hover{
  box-shadow: 0 0 10px;
}

.guest-signin-button {
  background-color: $salmon;
  border: none;
  width: 50%;
  display: flex;
  flex-direction: row;
  font-size: 29px;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.guest-signin-button:hover {
  box-shadow: 0 0 10px;
}

.authmodal-footer {
  font-size: 14px;
  // margin: 10px;
}

.authmodal-footer > a {
  color: blue;
  cursor: default;
}

.authmodal-footer > a:hover {
  text-decoration: underline;
}
