//color palette

$watermelon: #FF383F;
$neutral: #EFEFEF;
$sky: #CAEBF2;
$carbon: #A9A9A9;

//palette2
$navy: #18121E;
$gunmetal: #233237;
$rustyred: #984843;
$warmyellow: #EAC67A;

//palette3
$leaf: #66AB8C;
$salmon: #FA7C92;
$rain: #6EC4DB;
$buttermilk: #FFF7C0;

img.bg {
  min-height: 100%;
  min-width: 1024px;
  z-index: -1;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0
}

@media screen and (max-width: 1024px){
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}

.tagline {
  color: $gunmetal;
  white-space: nowrap;
  font-size: 44px;
  font-family: monospace;;
  text-align: center;
}

.startbutton {
  margin: 5px;
  width: auto;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 44px;
  font-family: monospace;
  text-align: center;
  background-color: $leaf;
  box-sizing: border-box;
}

.startbutton:hover{
  color: lightgrey;
}

.startbutton:active{
  color:$neutral
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  align-items: center;
}
