// Place all the styles related to the api/TodoLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todo-outer-div {
  display: flex;
  width: 100%;
}

.todoitems-container {
  list-style: none;
  margin: auto;
  width: 525px;
  padding: 0;
}

.todoitems-list {
  padding: 0 10px;
  list-style: none;
}

.todo-spaced {
  margin: 5px;
}

.centered {
  justify-content: center;
}

.todopreview-title {
  cursor: pointer;
}
