/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*Todo-list related CSS*/

 .add-todolist-header {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }

 .btn-new-todolist {
   display: flex;
   width: 55px;
   height: 55px;
   line-height: 50px;
   border: 6px solid #f5f5f5;
   border-radius: 50%;
   color: #f5f5f5;
   background: #66AB8C;
   text-decoration: none;
   box-shadow: 0 0 3px gray;
   font-size: 20px;
   font-weight: bold;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .btn-new-todolist:hover {
   background-color: green;
 }

 .txt-new-todolist {
 margin: 10px;
 font-size: 32px;
 font-weight: lighter;
 font-family: sans-serif;
 color: #66AB8C;
 }

 .new-todolist-header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .add-todolist-txt {
   width: auto;
   font-size: 32px;
   font-family: sans-serif;
   margin-bottom: 4px;
   font-weight: bold;
   text-align: center;
 }

 .edit-todolist-form {
   display: flex;
   width: 100%;
   flex-direction: column;
 }

 .edit-todolist-text {
   width: 400px;
   margin: 10px auto;
   font-size: 24px;
   text-align: center;
   border-radius: 10px;
   border: none;
 }

 .todolist-save {
   display: flex;
   justify-content: center;
 }

 .todolist-save > button {
  width: auto;
  padding: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  margin: 0 10px;
  font-size: 18px;
 }

 .todolist-save > button:hover{
   color: #EFEFEF;
 }

 .todolist-save > button:active{
   color: white;
 }

.todolist-save-btn {
  background-color: palegreen;
  border: 1px solid #66AB8C;
}

.todolist-cancel-btn{
  background-color: pink;
  border: 1px solid #FA7C92;
}

.todo-previews-list {
  list-style-type: none;
  padding-left: 0;
  border-radius: 15px;
  font-family: sans-serif;
  margin: 20px;
}

.todos-none {
  text-align: center;
  font-family: sans-serif;
  font-size: 24px;
  margin: 20px;
}

.todo-preview {
  float: left;
  margin: 10px;
  padding: 15px 10px;
  border-radius: 15px;
  text-align: center;
  background-color: white;
}

.todo-overdue {
  border: 1px solid #FA7C92;
  color: red;
}

.todo-overdue:hover{
  background-color: pink;
  border: 1px solid red;
}

.todo-ontrack {
  border: 1px solid #66AB8C;
  color: darkgreen;
}

.todo-ontrack:hover {
  background-color: #66AB8C;
  border: 1px solid green;
  color: #18121E;
}

.todoitem-completion {
  border: 1px solid black;
  min-height: 10px;
  min-width: 10px;
}

.todoitem-incomplete {
  background-color: yellow;
}

.todoitem-complete {
  background-color: green;
}

input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  border: 1px solid #233237;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding:0;
  vertical-align: top;
  width: 16px;
}

input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: #666;
  content: "\2713";
  text-align: center;
}

input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

.todoitem-display {
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 18px;
  float: left;
  height: 130px;
  background-color: white;
  margin: 30px 10px;
}

.todoitem-btnheader {
  float: right;
  margin: 5px;
}

.todoitem-destroybtn:hover {
  color: white;
}

.todoitem-destroybtn {
  width: 14px;
  padding: 5px;
  box-sizing: content-box;
  background-color: red;
  border-radius: 8px;
  text-align: center;
}

.todoitem-txt {
  margin: 5px;
}

.todoitem-title {
  font-size: 20px;
  margin: 5px;
  font-weight: bold;
}
