// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CSS Reset

html, body, section, form, article, h1, h2, h3, p, input, button {
    margin: 0;
    border: 0;
    padding: 0;
    text-align: inherit;
    font-family: 'Raleway', sans-serif;
    text-decoration: inherit;
    color: inherit;
    background: transparent;
    width: 100%;
    height: auto;
  }

  body {
    background-color: #EFEFEF;
  }
